### Strings and Character Data in Python

String are objects that contain sequences of character data. Processing character data is integral to programming. Python provides a rich set of operators, functions, and methods for working with strings. In this module, we'll discuss the below topics.

1. Using operators with strings
2. Accessing and extracting portions of strings
3. Use built-in Python functions with characters and strings
4. Use methods to manipulate and modify string data

#### String Manipulation
1. String Operators
2. Built-In String Functions
    * Case Conversion (upper, lower, title, capitalize)
    * Find and Replace (find, index) 
    * dir and __doc__
3. String Indexing & Slicing
    * name[1]

### Working with python list
List is Python’s most versatile, useful data types. You’ll find list in virtually every Python program. we'll cover the important characteristics of lists and we’ll learn how to define them and how to manipulate them.

1. Lists Overview
2. Indexing and Slicing
3. Nesting
4. List Methods
    * Inserting item to a given position
    * Appending value to a list
    * Removing elements from a list
    * Extending a list and merging with other list
    * Counting instances of an elements in a list
    * index - Finding index of something in the list
    * Sorting a list
    * Reversing a list
    
### Working with dictionary in python
We’ll cover the basic characteristics of Python dictionaries and learn how to access and manage dictionary data. O
1. Dictionaries and lists share the following characteristics:
    * Both are mutable.
    * Both are dynamic. They can grow and shrink as needed.
    * Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.

4. Dictionary Methods
    * Get all keys from a dictionary - keys
    * Get all values from a dictionary - values
    * To Access data from a dictionary for a key - get
    * Update a dictionary - update
    * Deleting data from the dictionary
    * Deleting all the key values from a dictionary - clear
    
### Conditional Statements in Python (if/elif/else)
We’ll learn how to work with conditional (“if”) statements in Python. if-statements help us implement complex decision making in your programs.

1. "if", "else" and "elif" Clauses
2. One-Line "if" Statements
3. Conditional Expressions
4. The "pass" Statement

In [72]:
name = "Naveen"

In [86]:
list1 = [1,2,3]

In [88]:
list1

[1, 2, 3]

In [89]:
list1.append(4)

In [91]:
list2 = [4,5,6]

In [92]:
list1.extend(list2)

In [93]:
list1

[1, 2, 3, 4, 4, 5, 6]

In [94]:
dict_1 = {"name": "Naveen", "city": "Delhi"}

In [95]:
type(dict_1)

dict

In [96]:
dir(dict_1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [97]:
dict_1.get("name")

'Naveen'

In [98]:
print(dict_1)

{'name': 'Naveen', 'city': 'Delhi'}

In [99]:
dict_1.update({"city": "Noida"})

In [100]:
print(dict_1)

{'name': 'Naveen', 'city': 'Noida'}

In [101]:
del dict_1['name']

In [102]:
print(dict_1)

{'city': 'Noida'}

In [ ]:
todo_list = [
    "complete python study", 
    "complete python test",
    "get the certificate"
]

In [106]:
todo_list = [
    {"task": "complete python study", "deadline": "2022-10-10"},
    {"task":"complete python test", "deadline": "2022-10-10"},
    {"task":"get the certificate", "deadline": "2022-10-10"}
]

In [107]:
print(todo_list)

[{'task': 'complete python study', 'deadline': '2022-10-10'}, {'task': 'complete python test', 'deadline': '2022-10-10'}, {'task': 'get the certificate', 'deadline': '2022-10-10'}]

In [108]:
user = {
    "name": "Naveen",
    "courses": ["python", "javascript"]
}

In [109]:
print(user)

{'name': 'Naveen', 'courses': ['python', 'javascript']}

In [110]:
user.keys()

dict_keys(['name', 'courses'])

In [111]:
user.values()

dict_values(['Naveen', ['python', 'javascript']])

In [112]:
def hello():
    """
    this function will print hello world
    """
    return "hello world"


function_list = [hello]

In [113]:
function_list

In [115]:
func_dict = {
    "function_name": "hello world",
    "function": hello
}

In [125]:
num1 = 10
num2 = 20

In [130]:
if num1 == num2:
    print("Same")
    print("something else")
else:
    print("Not same")

Not same

In [131]:
res = "Same" if num1 == num2 else "Not same"

In [129]:
print(res)

Not same

In [134]:
result = num1 >= num2

In [139]:
name = "naveen"

'Return a capitalized version of the string.\n\nMore specifically, make the first character have upper case and the rest lower\ncase.'

**Q: Create a variable name assign your name to that variable**
</br>
**Check what is the type of the variable and what are the public method available on that variable**
</br>
**Practice all the methods and write a brief summary on each of them in your words**

In [11]:
name = "Priyanshi"
n = "Priyanshi Srivastava "

In [2]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
"""
To make the 1st char of the string in Upper case
"""
name.capitalize()

'Priyanshi'

In [4]:
#To make name of the string in Upper case
name.upper()

'PRIYANSHI'

In [5]:
#To make name of the string in Lower case
name.lower()

'priyanshi'

In [19]:
# to find position the letter in the string.
x=name.find("a")
print(x)

4

In [17]:
#To count(i)letter in the  string .
x=name.count("i")
print(x)

2

In [23]:
#To replace the letter in the string
x=name.replace("P",'S')
print(x)

Sriyanshi

In [24]:
# TO Make the string lower case
x=name.casefold()
print(x)

priyanshi

In [27]:
#taking up the space of 50 characters with "Priyanshi" in the middle.
x=name.center(50)
print(x)

                    Priyanshi

In [28]:
#Check if the string ends with that or not.
x=name.endswith("i")
print(x)

True

In [29]:
#To Searches the Letter from the string 
x=name.index("y")
print(x)

3

In [30]:
#Check if all the characters in the text are letters
x=name.isalpha()
print(x)

True

In [31]:
#Check if all the characters in the text is alphanumeric.
x=name.isalnum()
print(x)

True

In [32]:
#Check if all the characters in the text are numeric.
x=name.isnumeric()
print(x)

False

In [33]:
#Check if all the characters in the text are whitespaces.
x=name.isspace()
print(x)

False

In [53]:
#Check if each word start with an upper case letter.
x=n.istitle()
print(x)

True

In [37]:
x=name.sw(",")
print(x)

['Priyanshi']

In [52]:
#Set the tab size to 9 whitespaces:
n = "Priyanshi\tSrivastava "
x =  n.expandtabs(9)
print(x)

Priyanshi         Srivastava

In [4]:
#Split a string into a list where each word is a list item:
x =  n.split()
print(x)

['Priyanshi', 'Srivastava']

In [5]:
#Make the lower case letters upper case and the upper case letters lower case.
x =  n.swapcase()
print(x)

pRIYANSHI sRIVASTAVA

In [62]:
#Fill the string with zeros until it is 11 characters long.
x =  name.zfill(11)
print(x)

00Priyanshi

In [66]:
#Remove spaces at the beginning and at the end of the string
x =  n.strip()
print(x)

In [68]:
# To encode the string
x =  name.encode()
print(x)

b'Priyanshi'

In [7]:
txt = "My name is {}, I'm {}.".format("Priyanshi Srivastava",20)
print(txt)

My name is Priyanshi Srivastava, I'm 20

In [ ]:
#Check if all the characters are decimals.
d = "342"
x = d.isdecimal()
print(x)

In [8]:
#Check if all the characters are digit.
d = "3455"
x = d.isdigit()
print(x)

True

In [16]:
#Check if all the characters in the text are printable
t= "Hello kajal"
x= t.isprintable()
print(x)
nt= "Hello\nkajal"
x= nt.isprintable()
print(x)

True
False

**Q: Create a list "todo_list" and add some todo items in the list**
</br>
**Check what is the type of the variable and what are the public method available on that variable**
</br>
**Practice all the methods and write a brief summary on each of them in your words**

In [28]:
todo_list=["Complete the Exercise",
            "Make MCQ's",
           "Complete the every Module",
           "Complete the Test",
           "Revise The task"]
print(Todo_List)

['Complete the Exercise', "Make MCQ's", 'Complete the every Module', 'Complete the Test', 'Revise The task']

In [29]:
print(todo_list[2])

Complete the every Module

In [34]:
todo_list[4]="Submitted the task"
print(todo_list)

['Complete the Exercise', "Make MCQ's", 'Complete the every Module', 'Complete the Test', 'Submitted the task']

In [35]:
todo_list.append("Revise the task")
print(todo_list)

['Complete the Exercise', "Make MCQ's", 'Complete the every Module', 'Complete the Test', 'Submitted the task', 'Revise the task']

In [36]:
todo_list.remove("Revise the task")
print(todo_list)

['Complete the Exercise', "Make MCQ's", 'Complete the every Module', 'Complete the Test', 'Submitted the task']

In [38]:
todo_list.sort()
print(todo_list)

['Complete the Exercise', 'Complete the Test', 'Complete the every Module', "Make MCQ's", 'Submitted the task']

In [40]:
tl=todo_list.copy()
print(todo_list)

['Complete the Exercise', 'Complete the Test', 'Complete the every Module', "Make MCQ's", 'Submitted the task']

**Q: Create a dictionary "user" and add name, city key value pair in the dictionary**
</br>
**Check what is the type of the variable  user and what are the public method available on that variable**
</br>
**Practice all the methods and write a brief summary on each of them in your words**

In [20]:
user={'Priyanshi':'Bahraich','Sumit':'Haridwar','Nitesh':'Delhi','Kajal':'Koderma'}
print(user)

{'Priyanshi': 'Bahraich', 'Sumit': 'Haridwar', 'Nitesh': 'Delhi', 'Kajal': 'Koderma'}

In [4]:
#Print the "Sumit" value of the dictionary
user={'Priyanshi':'Bahraich','Sumit':'Haridwar','Nitesh':'Delhi','Kajal':'Koderma'}

print(user["Sumit"])

Haridwar

In [6]:
#To print the lenght of user.
print(len(user))

4

In [7]:
#To print the Type of user.
print(type(user))

<class 'dict'>

In [9]:
#To print the Keys of user.
x = user.keys()
print(x)

dict_keys(['Priyanshi', 'Sumit', 'Nitesh', 'Kajal'])

In [10]:
#To print the Values of user.
x = user.values()
print(x)

dict_values(['Bahraich', 'Haridwar', 'Delhi', 'Koderma'])

In [11]:
#Adding an item to the dictionary is done by using a new index key and assigning a value to it.
user["Ridhi"]="Ranchi"
print(user)

{'Priyanshi': 'Bahraich', 'Sumit': 'Haridwar', 'Nitesh': 'Delhi', 'Kajal': 'Koderma', 'Ridhi': 'Ranchi'}

In [13]:
#Add a color item to the dictionary by using the update() method.
user.update({'Nitesh':'Bhilwara'})
print(user)

{'Priyanshi': 'Bahraich', 'Sumit': 'Haridwar', 'Nitesh': 'Bhilwara', 'Kajal': 'Koderma', 'Ridhi': 'Ranchi'}

In [14]:
#The pop() method removes the item with the specified key name.
user.pop('Nitesh')
print(user)

{'Priyanshi': 'Bahraich', 'Sumit': 'Haridwar', 'Kajal': 'Koderma', 'Ridhi': 'Ranchi'}

In [16]:
#Make a copy of a dictionary with the copy() method:
user1=user.copy()
print(user1)

{'Priyanshi': 'Bahraich', 'Sumit': 'Haridwar', 'Kajal': 'Koderma', 'Ridhi': 'Ranchi'}

In [21]:
#loop in dictionary
for x in user:
    print(x)

Priyanshi
Sumit
Nitesh
Kajal

In [25]:
#Create a dictionary that contain three dictionaries.
users={
    "user1":{'Vishal':'Raiwala','Sumit':'Haridwar'},
    "user2":{'Nitesh':'Delhi','Ridhi':'Ranchi'},
    "user3":{'Kavita':'Haridwar','Pihu':'Agra'}
}
print(users)

{'user1': {'Vishal': 'Raiwala', 'Sumit': 'Haridwar'}, 'user2': {'Nitesh': 'Delhi', 'Ridhi': 'Ranchi'}, 'user3': {'Kavita': 'Haridwar', 'Pihu': 'Agra'}}